body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#draw{
    width: 500px;
    height: 500px;
    background-color: #123346;
    border-radius: 25px;
    border: solid 2px #5E8081;
    display: flex;
    flex-direction: column;
    z-index: 1;
    transition: all 0.6s ease-in-out;
}

#draw.active{
    transform: translateX(-30%);
}

#topName{
    height: 8%;
    border-bottom: solid 1px #FFEFDF;
    display: flex;
    text-align: center;
    align-items: center;
    position: relative;
    user-select: none;
}

#topName h2{
    font-size: 28px;
    width: 100%;
    color: #FFEFDF;
}

#topName .arrowRedo {
    display: inline-block;
    position: absolute;
    right: 0;
    border-left: solid 1px #FFEFDF;
    width: 10%;
    height: 30px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23FFEFDF' d='M48 399.26C48 335.19 62.44 284 90.91 247c34.38-44.67 88.68-68.77 161.56-71.75V72L464 252L252.47 432V329.35c-44.25 1.19-77.66 7.58-104.27 19.84c-28.75 13.25-49.6 33.05-72.08 58.7L48 440Z'/%3E%3C/svg%3E");
  }

#fieldDraw{
    margin: 10px;
    flex-grow: 1;
    border-radius: 20px;
    border: solid 2px #FFEFDF;
}


#selectColor{
    width: 500px;
    height: 500px;
    position: absolute;
    border-radius: 25PX;
    background-color: #5E8081;
    transition: all 0.6s ease-in-out;
    border: solid 2px #123346;
    display: flex;
    flex-direction: row;
}

#selectColor.active{
    transform: translateX(30%);
}

#selectColor div:nth-child(1){
    height: 100%;
    width: 40%;
}

#selectColor div:nth-child(2){
    height: 100%;
    flex-grow: 1;
}