body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#calculator{
    display: flex;
    flex-direction: column;
    background-color: #F3ECE4;
    width: 350px;
    border-radius: 20px;
    padding: 15px;
    gap: 15px;
    border: solid 2px #373334;
}

#display{
    background-color: #373334;
    height: 80px;
    width: 98%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 45px;
    padding-right: 8px;
    box-shadow: -2px 5px 8px 4px rgba(0, 0, 0, 0.5);
    color: #F3ECE4;
}

#containerButton{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    user-select: none;
}

.button, .zero{
    height: 75px;
    width: 75px;
    border-radius: 100%;
    text-align: center;
    font-size: 25px;
    border: none;
    box-shadow: -2px 5px 8px 4px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
    background-color: #373337;
    color: #F3ECE4;
}

.zero{
    width: 165px;
    border-radius: 60px;
}

.button:hover, .zero:hover{
    background-color: #D74339;
}