/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#mainDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    background-color: gray;
    width: 550px;
    height: 350px;
    border-radius: 20px;
    border: solid 3px black;
}

h1{
    font-size: 40px;
    text-align: center;
    margin: 15px;
}

#oneImage{
    background-color: gainsboro;
    width: 129px;
    height: 129px;
}

#twoImage{
    background-color: gainsboro;
    width: 129px;
    height: 129px;
}

#divs{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

#divs2{
    display: flex;
    flex-direction: row;
    gap: 80px;
}

#block{
    margin: 10px 0px 0px 30px;
}

#one{
    margin-bottom: 10px;
    font-size: 20px;
}

#two{
    font-size: 20px;
}

h2{
    font-size: 75px;
    text-align: center;
    margin-top: 70px;
}

#button1{
    height: 24px;
    width: 20px;
    background-color: gainsboro;
    color: black;
    font-size: 20px;
    padding-left: 2px;
}

#textUser{
    width: 100px;
    height: 20px;
    margin-bottom: 20px;
    background-color: gainsboro;
    text-align: center;
    font-size: 25px;
}

#textBot{
    width: 129px;
    height: 24px;
    margin-bottom: 20px;
    background-color: gainsboro;
    text-align: center;
    font-size: 25px;
}

#result{
    width: 120px;
    height: 30px;
    margin: 20px 0px 10px 38px;
    background-color: gainsboro;
    text-align: center;
    font-size: 25px;
}

#button2{
    width: 122px;
    height: 30px;
    background-color: gainsboro;
    color: black;
    font-size: 20px;
    margin-left: 37px;
}

#by{
    margin: 80px 0px 4px 40px;
}